/product.services/.vs/**
/product.services/bin/Debug/**
*/bin/*
*/obj/*
*/.vs/**
*.suo
/.vs/**

*/product.services/product.services/bin/Debug/net5.0/**
/product.services/product.services/bin/Debug/net5.0/appsettings.Development.json
/product.services/product.services/bin/Debug/net5.0/appsettings.json
/product.services/product.services/bin/Debug/net5.0/Microsoft.OpenApi.dll
/product.services/product.services/bin/Debug/net5.0/product.services.deps.json
/product.services/product.services/bin/Debug/net5.0/product.services.dll
/product.services/product.services/bin/Debug/net5.0/product.services.exe
/product.services/product.services/bin/Debug/net5.0/product.services.pdb
/product.services/product.services/bin/Debug/net5.0/product.services.runtimeconfig.dev.json
/product.services/product.services/bin/Debug/net5.0/product.services.runtimeconfig.json
/product.services/product.services/bin/Debug/net5.0/ref/product.services.dll
/product.services/product.services/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/product.services/product.services/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/product.services/product.services/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
